---
import Common from "@layouts/Common.astro";
import * as m from "@paraglide/messages";
import { setLanguageTag } from "@paraglide/runtime";

setLanguageTag((Astro.preferredLocale || "en") as any);
---

<Common title="Page not found">
  <main class="container p-12 mx-auto h-screen flex items-center">
    <div>
      <p class="text-sm font-medium text-blue-500 dark:text-blue-400">404</p>
      <h1 class="mt-3 text-2xl font-semibold text-gray-800 md:text-3xl">{m._404_title()}</h1>
      <p class="mt-4 text-gray-500">{m._404_summary()}</p>

      <div class="flex items-center mt-6 gap-x-3">
        <button
          class="w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto hover:bg-blue-600"
        >
          <a href="/">{m._404_come_back()}</a>
        </button>
      </div>
    </div>
  </main>
</Common>
