---
import Layout from "@layouts/Common.astro";

import MonthButton from "@components/buttons/MonthButton.astro";
import HTMLInput from "@components/form/HTMLInput.astro";
import Table from "@components/schedule/Table.astro";

import { setLanguageTag } from "@paraglide/runtime";

setLanguageTag((Astro.preferredLocale || "en") as any);

const now = new Date();
const year = (Astro.cookies.get("year")?.number() as unknown as number) || now.getFullYear();
const month = (Astro.cookies.get("month")?.number() as unknown as number) || now.getMonth() + 1;
---

<Layout title="SchedPlanner">
  <div class="p-4 mx-auto flex flex-row justify-between gap-4 items-center">
    <MonthButton icon="mdi:arrow-left" text="Previous" year={year} month={Number(month) - 1} />
    <form method="POST" action="/api/month" id="date-picker" class="max-w-64">
      <HTMLInput
        name="month"
        type="month"
        onchange="this.form.submit()"
        value=`${year}-${String(month).padStart(2, "0")}`
        class="flex flex-row items-center"
      />
    </form>
    <MonthButton icon="mdi:arrow-right" text="Next" class="flex-row-reverse" year={year} month={Number(month) + 1} />
  </div>
  <Table />
</Layout>
