---
import Layout from "@layouts/Common.astro";

import MonthButton from "@components/buttons/MonthButton.astro";
import HTMLInput from "@components/form/HTMLInput.astro";
import Table from "@components/schedule/Table.astro";

import { db } from "@lib/database";
import { group } from "@lib/database/schema";

import { setLanguageTag } from "@paraglide/runtime";

import { eq } from "drizzle-orm";

setLanguageTag((Astro.preferredLocale || "en") as any);

if ((await db.select().from(group)).length === 0) {
  console.log("No groups found in the database! Redirecting to /groups so the user can add one.");
  return Astro.redirect("/groups");
}

let currentGroup = "";
let currentGroupId = -1;

if (Astro.cookies.has("current_group")) {
  currentGroup = Astro.cookies.get("current_group")?.value || "";
  if (currentGroup !== "" && (await db.select().from(group).where(eq(group.name, currentGroup))).length == 0) {
    console.warn(`Location '${currentGroup}' not found in the database! Clearing the cookie.`);
    Astro.cookies.delete("current_group");
    currentGroup = "";
  }
}

if (currentGroup === "") {
  const default_group = (await db.select({ name: group.name }).from(group).where(eq(group.defaultGroup, true)))[0]["name"];
  currentGroup = default_group;
  Astro.cookies.set("current_group", currentGroup);
}

if (currentGroup === "") {
  console.log("Current group is for some reason not set, redirecting to /groups");
  return Astro.redirect("/groups");
}

currentGroupId = (await db.select({ id: group.id }).from(group).where(eq(group.name, currentGroup)))[0]["id"];

const now = new Date();
const year = Astro.cookies.get("year")?.number() || now.getFullYear();
const month = Astro.cookies.get("month")?.number() || now.getMonth() + 1;
---

<Layout title="SchedPlanner">
  <div class="p-4 mx-auto flex flex-row justify-between gap-4 items-center">
    <MonthButton icon="mdi:arrow-left" text="Previous" month={Number(month) - 1} />
    <HTMLInput name="month" type="month" value=`${year}-${String(month).padStart(2, "0")}` class="flex flex-row items-center" />
    <MonthButton icon="mdi:arrow-right" text="Next" class="flex-row-reverse" month={Number(month) + 1} />
  </div>
  <Table />
</Layout>
<script>
  const month_input_element = document.querySelector("input[name='month']") as HTMLInputElement;

  month_input_element.addEventListener("change", (e) => {
    const target = e.target as HTMLInputElement;
    const [year, month] = target.value.split("-");
    document.cookie = `year=${year}; expires=Session, path=/`;
    document.cookie = `month=${month}; expires=Session, path=/`;
    location.reload();
  });
</script>
