---
import TeamPicker from "@components/TeamPicker.astro";

import * as m from "@paraglide/messages";

import { Icon } from "astro-icon/components";
---

<div class="navbar bg-base-200">
  <div class="flex-1 flex flex-row items-center gap-4">
    <h1 class="btn btn-ghost text-xl"><a href="/">{m.navbar_title()}</a></h1>
    <TeamPicker />
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      {
        [
          ["/teams", m.teams(), "mdi:people"],
          ["/shifts", m.shifts(), "mdi:clock"],
        ].map(([url, name, icon]) => {
          return (
            <li>
              <a href={url} class="flex flex-row items-center gap-2">
                <Icon name={icon} class="text-xl" />
                <span class="hidden lg:block">{name}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
