---
import LocationPicker from "@components/LocationPicker.astro";

import * as m from "@paraglide/messages";

import { Icon } from "astro-icon/components";
---

<div class="flex flex-row gap-4 items-center justify-between p-2 px-4 bg-gray-100">
  <div class="flex flex-row items-center gap-4">
    <h1><button><a href="/">{m.navbar_title()}</a></button></h1>
    <LocationPicker />
  </div>
  <ul class="flex flex-row gap-2">
    {
      [
        ["/locations", m.locations(), "mdi:location"],
        ["/employees", m.employees(), "mdi:people"],
        ["/shifts", m.shifts(), "mdi:clock"],
      ].map(([url, name, icon]) => {
        return (
          <li>
            <button>
              <a href={url} class="flex flex-row items-center gap-2">
                <Icon name={icon} class="text-xl" />
                <span class="hidden lg:block">{name}</span>
              </a>
            </button>
          </li>
        );
      })
    }
  </ul>
</div>
