---
import Navbar from "@components/Navbar.astro";
import CookiesNotice from "@components/CookiesNotice.astro";
import Cookies from "@lib/cookies";

interface Props {
  title: string;
}

const { title } = Astro.props;

const cookies_accepted = Astro.cookies.has(Cookies.cookies_accepted) && Astro.cookies.get(Cookies.cookies_accepted)?.value === "true";
---

<!doctype html>
<html lang={Astro.preferredLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="schedplanner" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    {!cookies_accepted ? <CookiesNotice /> : null}
    <slot />
  </body>
</html>
