---
import Navbar from "@components/Navbar.astro";

import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={Astro.preferredLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="schedplanner" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  a,
  a:visited {
    border-bottom: 1px solid theme("colors.gray.500");
    transition-property: border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  a:active,
  a:hover {
    border-bottom: 1px solid transparent;
  }

  button > a,
  button > a:active,
  button > a:hover,
  button > a:visited {
    border: none;
  }
</style>
