---
import Common from "@layouts/Common.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Common title={title}>
  <main class="container p-4 lg:p-12 mx-auto min-h-[calc(100vh-2.8rem)]">
    <slot />
  </main>
</Common>
